@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=SUSE:wght@100..800&display=swap');

:root {
    --nav-font: "Montserrat", sans-serif;
    --titulos: "Orbitron", sans-serif;
    --p-font: "Montserrat", sans-serif;
    --p-membros: "Orbitron", sans-serif;
    --p-cargos: "Montserrat", sans-serif;
}