.equipe {
  display: flex;
  align-items: flex-start;
  gap: 150px; /* Espaçamento entre a coluna de texto e a imagem */
  padding: 0px 100px 80px 80px;
  margin-bottom: 0em;
}

.sobre-nos-conteudo {
  display: flex;
  flex-direction: column;
}

.sobre-nos {
  padding: 0px 80px 0px;
  font-size: 2.5em;
  font-family: var(--titulos);
  color: #fff;
  margin-bottom: 0em;
  text-shadow: 0 0 5px #00aeff, 0 0 10px #00aeff, 0 0 10px #00aeff,
    0 0 30px #00aeff;
}

.conheca-nos {
  padding: 0px 0px 0px 80px;
  font-family: var(--titulos);
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 1em;
  text-shadow: 0 0 5px #00aeff, 0 0 10px #00aeff, 0 0 10px #00aeff,
    0 0 30px #00aeff;
}

.sobre-nos-p {
  padding: 0px 0px 0px 0px;
  font-size: 1em;
  line-height: 2;
  color: #fff;
  text-align: justify;
  font-family: var(--p-font);
  max-width: 1600px; /* Define uma largura máxima padrão */
  margin: 0 auto; /* Centraliza o parágrafo */
}

.equipe img {
  flex: 1;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  /* Ajuste este valor conforme necessário */
  .equipe {
    padding: 0px 10px 0px 10px;
    flex-direction: column;
    gap: 0;
  }

  .sobre-nos {
    padding: 0px 20px 0px 20px;
  }

  .conheca-nos {
    padding: 0px 20px 0px 20px;
  }

  .sobre-nos-conteudo {
    flex-direction: column;
    padding: 0 20px;
  }

  .sobre-nos-p {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .equipe img {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  /* Ajuste este valor conforme necessário */
  .sobre-nos-p {
    max-width: 100%;
    padding: 0 10px; /* Adiciona um pouco de padding para evitar que o texto encoste nas bordas */
  }
}
