body {
  background-image: url("../../img/fundo_projeto.png");
  background-repeat: repeat;
  background-size: auto;
}

.small-gap2 {
  padding-top: 5%;
}

.card-projeto {
  display: flex;
  align-items: flex-start;
  gap: 50px; /* Espaçamento entre a coluna de texto e a imagem */
  padding: 0px 20px 80px 20px;
  margin: 0 auto; /* Centraliza a seção */
  max-width: 1200px; /* Define uma largura máxima para a seção */
}

.main-text-conteudo {
  display: flex;
  flex-direction: column;
}

.main-text {
  font-size: 2.5em;
  font-family: var(--titulos);
  color: #fff;
  margin-bottom: 0.5em;
  margin-left: 23rem;
  text-shadow:
    0 0 5px #00aeff,
    0 0 10px #00aeff,
    0 0 10px #00aeff,
    0 0 30px #00aeff;
  text-align: left; /* Alinha o texto à esquerda */
  padding: 10px; /* Adiciona padding para a borda */
}

.main-text-p {
  padding: 0px 0px 0px 0px;
  font-size: 1em;
  line-height: 2;
  color: #fff;
  text-align: justify;
  font-family: var(--p-font);
  max-width: 1600px; /* Define uma largura máxima padrão */
  margin: 0 auto; /* Centraliza o parágrafo */
  padding: 10px; /* Adiciona padding para a borda */
}

.conheca-nos {
  padding: 0px 0px 0px 80px;
  font-family: var(--titulos);
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 1em;
  text-shadow:
    0 0 5px #00aeff,
    0 0 10px #00aeff,
    0 0 10px #00aeff,
    0 0 30px #00aeff;
}

.card-projeto img {
  flex: 1;
  height: auto;
  object-fit: cover;
  width: 500px; /* Adiciona largura fixa */
  height: 300px; /* Adiciona altura fixa */
}

.com-borda {
  border: 1px solid #ffff;
}

#carbon-code {
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  /* Ajuste este valor conforme necessário */
  .card-projeto {
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
  }

  .card-projeto img {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .main-text {
    padding: 0px 20px 0px 20px;
    margin-left: 0rem;
  }

  .conheca-nos {
    padding: 0px 20px 0px 20px;
  }

  .main-text-conteudo {
    flex-direction: column;
    padding: 0 20px;
  }

  .main-text-p {
    max-width: 100%;
    margin-bottom: 20px;
  }

  #carbon-code {
  width: 100%;
  display: block;
  margin: 0 auto;
}
}

@media (max-width: 480px) {
  /* Ajuste este valor conforme necessário */
  .main-text-p {
    max-width: 100%;
    padding: 0 10px; /* Adiciona um pouco de padding para evitar que o texto encoste nas bordas */
  }
}
