body {
  background-image: url('../../img/fundo_projeto.png');
  background-repeat: repeat;
  background-size: auto;
}

.small-gap2 {
  padding-top: 5%;
}

.card-projeto {
  display: flex;
  align-items: flex-start;
  gap: 50px; /* Espaçamento entre a coluna de texto e a imagem */
  padding: 0px 20px 80px 20px;
  margin: 0 auto; /* Centraliza a seção */
  max-width: 1200px; /* Define uma largura máxima para a seção */
}

.main-text-conteudo {
  display: flex;
  flex-direction: column;
}

.main-text {
  font-size: 2.5em;
  font-family: var(--titulos);
  color: #fff;
  margin-bottom: 0.5em; /* Reduza o valor conforme necessário */
  text-shadow: 0 0 5px #00aeff, 0 0 10px #00aeff, 0 0 10px #00aeff,
    0 0 30px #00aeff;
  text-align: center; /* Centraliza o texto */
}

.conheca-nos {
  padding: 0px 0px 0px 80px;
  font-family: var(--titulos);
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 1em;
  text-shadow: 0 0 5px #00aeff, 0 0 10px #00aeff, 0 0 10px #00aeff,
    0 0 30px #00aeff;
}

.main-text-p {
  padding: 0px 0px 0px 0px;
  font-size: 1em;
  line-height: 2;
  color: #fff;
  text-align: justify;
  font-family: var(--p-font);
  max-width: 1600px; /* Define uma largura máxima padrão */
  margin: 0 auto; /* Centraliza o parágrafo */
}

.card-projeto img {
  flex: 1;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.com-borda {
  border: 1px solid #ffff;
}

@media (max-width: 768px) {
  /* Ajuste este valor conforme necessário */
  .card-projeto {
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
  }

  .card-projeto img {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .main-text {
    padding: 0px 20px 0px 20px;
  }

  .conheca-nos {
    padding: 0px 20px 0px 20px;
  }

  .main-text-conteudo {
    flex-direction: column;
    padding: 0 20px;
  }

  .main-text-p {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  /* Ajuste este valor conforme necessário */
  .main-text-p {
    max-width: 100%;
    padding: 0 10px; /* Adiciona um pouco de padding para evitar que o texto encoste nas bordas */
  }
}